{% extends 'base.html' %}

{% block title %}Index page{% endblock %}

{% block content %}

<style>
	.card {
		padding: 10px;		
	}

	.card h3 {
		font-family: none;
	}
</style>

<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'C:\movieproject-main\myProject\movie\static\movie\css\reset.css' %}">
    <style>
        .seat {
            width: 40px; /* 수정: 좌석의 너비를 40px로 변경 */
            height: 40px; /* 수정: 좌석의 높이를 40px로 변경 */
        }
        
        .clicked {
            background-color: red;
            color: white;
        }
    </style>
</head>

<body>
    
</body>
<script>
</script>

</html>

{% endblock  %}