{% extends 'base.html' %}

{% block title %}Index page{% endblock %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<link rel="stylesheet" href="{%static 'C:\movieproject-main\myProject\movie\static\movie\css\reset.css' %}">
<link rel="stylesheet" href="{%static 'C:\movieproject-main\myProject\movie\static\movie\css\header.css' %}">
<link rel="stylesheet" href="{%static 'C:\movieproject-main\myProject\movie\static\movie\css\myPage.css' %}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel='stylesheet'
	href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css' />
<script
	src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js'></script>
<link rel="stylesheet"
	href="{%static 'C:\movieproject-main\myProject\movie\static\movie\material-design-iconic-font\css\material-design-iconic-font.css' %}">
<!-- MATERIAL DESIGN ICONIC FONT -->

</head>

<body>
	{% if user.is_authenticated %}
    <div class="my-page-container">
        <div class="my-page-wrapper">
            <div class="my-page-header">예약한 영화 목록</div>
            <div class="movie-reserve-list">
                {% if movie_reserves %}
                    {% for reserve in movie_reserves %}
                        <div class="movie-reserve">
                            <div class="movie-reserve-title">{{ reserve.title }}</div>
                            <div class="movie-reserve-theater">{{ reserve.selected_theater }}</div>
                            <div class="movie-reserve-date">{{ reserve.movie_date }}</div>
							<div class="movie-reserve-seat>">{{ reserve.selected_seat }}</div>
							<div class="movie-reserve-payMoney">{{ reserve.payMoney }}</div>
							<div class="movie-reserve-runningtime">{{ reserve.running_time }}</div>
                            <!-- 필요한 다른 정보들도 추가할 수 있습니다. -->
                        </div>
                    {% endfor %}
                {% else %}
                    <div>예약한 영화가 없습니다</div>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <script type="text/javascript">
        alert("로그인이 필요한 작업입니다. 로그인을 진행해 주세요!");
        window.location.href = "{% url 'movie:signin' %}";
    </script>
{% endif %}

{% endblock %}